<<<<<<< HEAD
<% red.on %>
<% add_new_color %>

<h3><%=heyo%></h3>


<h5><a hred="<%=root_path%>">RooT</a></h5>
=======
<style>
button{
	width: 200px;
	height: 50px;
}
</style>


<h1>GamePages#play</h1>
<p>Find me in app/views/game_pages/play.html.erb</p>


<a href="users/new"><h3>Start Simon</h3></a>



<a href="game_pages/rihanna"><button>All of the Lights</button></a>

<a href="game_pages/test"><button>Test-Simon</button></a><br><br>



<a href="game_pages/red"><button>Red-On</button></a><br><br>
<a href="game_pages/red_off"><button>Red-Off</button></a><br><br>
<a href="game_pages/green"><button>Green-On</button></a><br><br>
<a href="game_pages/green_off"><button>Green-Off</button></a><br><br>
<a href="game_pages/yellow"><button>Yellow-On</button></a><br><br>
<a href="game_pages/yellow_off"><button>Yellow-Off</button></a><br><br>
<a href="game_pages/blue"><button>Blue-On</button></a><br><br>
<a href="game_pages/blue_off"><button>Blue-Off</button></a><br><br>
>>>>>>> modeling-user
