   <div class="row">	 	
	    <div class="col-xs-12 center">
          <h1>Welcome to Simon</h1>
	
          <button type="button" class="btn btn-success btn-lg home-btn">Start New Game</button>
           <br>
          <button type="button" class="btn btn-primary btn-lg home-btn">View High Scores</button>       
  
      </div>
    </div>
