<%all_lights%>



<div class="row">	 	
      
	    <div class="col-xs-12 center">
          <h1><%=score%></h1>
          <h1>index of this:<%=high_index(@high_scores)%></h1>
          <h1>Game Over</h1>
	        <img class="over-img" src="http://static.entertainmentwise.com/photos/Image/kimcry1.jpg"></img> 
           <br>
         <a href="/play"><button type="button" class="btn btn-success btn-lg home-btn">
          					                                    		 Start New Game</button></a>
           <br>
          <a href="<%=scores_path%>"><button type="button" class="btn btn-primary btn-lg home-btn">
          																		   			View High Scores</button></a>  
      </div>
    </div>