<style>
button{
	width: 200px;
	height: 50px;
}
</style>


<h1>GamePages#play</h1>
<p>Find me in app/views/game_pages/play.html.erb</p>

<h3><%=@red%></h3>


<a href="game_pages/red"><button>Red-On</button></a><br><br>
<a href="game_pages/red_off"><button>Red-Off</button></a><br><br>
<a href="game_pages/green"><button>Green</button></a><br><br>
<button>Blue</button><br><br>
<button>Yellow</button><br><br>
