
<style>
button{
	width: 200px;
	height: 50px;
}
</style>


<h1>GamePages#play</h1>
<h3><%=pattern%></h3>
<h4>turns_left:<%=turns_left%></h4>
<% red_on %>


<a href="game_pages/home">home</a>




<a href="game_pages/red"><button>Red-On</button></a><br><br>




<!--<a href="game_pages/rihanna"><button>All of the Lights</button></a>

<a href="game_pages/test"><button>Test-Simon</button></a><br><br>



<a href="game_pages/red"><button>Red-On</button></a><br><br>
<a href="game_pages/red_off"><button>Red-Off</button></a><br><br>
<a href="game_pages/green"><button>Green-On</button></a><br><br>
<a href="game_pages/green_off"><button>Green-Off</button></a><br><br>
<a href="game_pages/yellow"><button>Yellow-On</button></a><br><br>
<a href="game_pages/yellow_off"><button>Yellow-Off</button></a><br><br>
<a href="game_pages/blue"><button>Blue-On</button></a><br><br>
<a href="game_pages/blue_off"><button>Blue-Off</button></a><br><br>

-->


<h2><%=%></h2>



<a href="game_pages/red"><button>Red</button></a><br><br>
<a href="game_pages/yellow"><button>Yellow</button></a><br><br>
<a href="game_pages/green"><button>Green</button></a><br><br>
<a href="game_pages/blue"><button>Blue</button></a><br><br>
