
<h2><%=%></h2>


<a href="game_pages/red"><button>Red</button></a><br><br>
<a href="game_pages/yellow"><button>Yellow</button></a><br><br>
<a href="game_pages/green"><button>Green</button></a><br><br>
<a href="game_pages/blue"><button>Blue</button></a><br><br>