


<%shift_turns('yellow')%>
<% if game_over == true  %>
 	 <script type="text/javascript">
 	   window.location.href="/over"
 	 </script>
	<% end %> 
<% add_new_color %>



<h1>GamePages#yellow</h1>
<h2>add variable:<%=add%></h2><br>

