<div class="row">	 	
	
		
 
   
			<div class="col-xs-12 center">
		<a href="/red"><button type="button" class="btn btn-danger btn-lg color-btn">Red</button></a>
		<a href="/yellow"><button type="button" class="btn btn-warning btn-lg color-btn">Yellow</button></a>
		<a href="/green"><button type="button" class="btn btn-success btn-lg color-btn">Green</button></a>
		<a href="/blue"><button type="button" class="btn btn-primary btn-lg color-btn">Blue</button></a>

					
					<br><br>
					<a href="<%=root_path%>">home</a>
			
		 </div>
</div>