<div class="row">	 	
	<div class="col-xs-10 center">
		<a href="/red"><button type="button" class="btn btn-danger btn-lg">Red</button></a><br><br>
		<a href="/yellow"><button type="button" class="btn btn-warning btn-lg">Yellow</button></a><br><br>
		<a href="green"><button type="button" class="btn btn-success btn-lg">Green</button></a><br><br>
		<a href="/blue"><button type="button" class="btn btn-primary btn-lg">Blue</button></a><br><br>

					
					<br><br>
					<a href="<%=root_path%>">home</a>
	</div>
</div>