<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1,
maximum-scale=1.0, user-scalable=0">
<title>Simon</title>
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<style>
.center {
text-align: center;
margin-left: auto;
margin-right: auto;
}
body{
margin-top: 0px;
}
.color-btn{
width: 200px;
height: 60px;
margin-top: 15px;
}

.heading {
  margin-bottom: 15px;
}

.home-btn{
  width:200px;
  margin-top:20px;
}

.over-img{
  width:50%;
  height:50%;
  border-radius: 50%;
} 

ol {
 padding-left:20px;
 margin:0; 
} 
 
.score {
margin-left:13px;
}		
</style>
</head>
<body>
<div class="container">
	<%=yield%>
</div>
</body>
